body {
    background-color: #243444;
    color: #ffffff;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;

    }

.aboutme {
    color: #ffffff;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: left;

}

.facts {
    color: #ffffff;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: left;
 
}

.education {

    color: #ffffff;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    text-align: left;

}